@import 'function.scss';
h3.heading-1-bold {
  font-size: betterClamp(24, 48);
  line-height: betterClamp(36, 72);
}
.banner {
  img {
    border: 1px solid var(--border-banner);
    box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
  }
  .dot {
    background-color: var(--bg-white);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
    &.active {
      background-color: var(--bg-yellow);
    }
    &:hover {
      background-color: var(--bg-yellow);
    }
  }
}
.tote-collection {
  margin-top: 129px;
  img {
    max-width: calc(100vw - calc(calc(100vw - 1230px) / 2));
    width: 90%;
  }
  .tote-text-right {
    p {
      color: var(--content-primary);
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 33px;
      &:last-child {
        margin: 0;
      }
    }
  }
  .tote-text {
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
.new-tote {
  .card-info-product {
    box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.1);
    padding: 32px 40px;
    position: relative;
    .tag {
      content: '';
      display: block;
      background-color: var(--bg-tag);
      opacity: 0.7;
      transform: rotate(43.17deg);
      width: 26.56px;
      height: 126.75px;
      position: absolute;
      top: -35px;
      left: 0;
    }
  }
  .left-tote {
    max-width: 654px;
    margin-right: 83px;
  }
}
.list-product {
  height: 490px;
  padding: 12px 4px 4px 4px;
  @include scrollable(30px);
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 30px;
  > * {
    scroll-snap-align: start;
  }
  .product {
    width: 100%;
    max-width: 285px;
    box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.1);
    position: relative;
    .product-price {
      color: var(--text-secondary);
    }
    transition: all ease-in-out 0.1s;
    border: 4px solid var(--bg-white);

    &:hover,
    &.active {
      cursor: pointer;
      border: 4px solid var(--border-yellow);
      .bg-intersect {
        position: absolute;
        display: block;
        width: calc(100% - 53px);
        height: 100%;
        top: -16px;
        right: -16px;
        background-image: url('../assets/home/product/Intersect.png');
        z-index: -1;
        border: 1px solid transparent;
        border-radius: 16px;
      }
      .btn-buy {
        display: block;
      }
    }
  }
  .product-color {
    &-item {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
  }
}

.network .heading-6-bold {
  color: var(--text-secondary);
}
.list-image-instagram {
  @include scrollable(30px);
  > .instagram-item {
    scroll-snap-align: start;
    width: 285px;
    height: 285px;
    img {
      object-fit: cover;
      min-width: 269px;
      height: 269px;
    }
  }
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 5.5rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
}
