:root {
  // color palette
  --content-primary: #000000;
  --text-white: #fff;
  --text-secondary: #009efe;
  --bg-primary: #f4f4f4;
  --bg-yellow: #ffc800;
  --bg-secondary: #009efe;
  --bg-white: #ffffff;
  --bg-tag: #fcd4d4;
  --bg-pink: #EF9CD6;
  --bg-blue: #85CEF2;
  --bg-orange: #F4EA88;
  --border-color: #f4f4f4;
  --border-banner: #c4c4c4;
  --border-yellow: #ffc800;
}
